{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BudgetWise - Transactions</title>

    <link rel="stylesheet" href="{% static 'pages/transaction/transaction.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="{% url 'login' %}" class="logo">
        <img src="{% static 'pics/mockLogo.png' %}" alt="BudgetWise Logo" />
        <h2>BudgetWise</h2>
      </a>
      <nav>
        <a href="{% url 'dashboard' %}">
          <img src="{% static 'pics/dashboard.png' %}" alt="Dashboard Icon" />
          Dashboard
        </a>
        <a href="{% url 'dashboard' %}">
          <img src="{% static 'pics/expenses.png' %}" alt="Expenses Icon" />
          Expenses
        </a>
        <a href="{% url 'dashboard' %}">
          <img
            src="{% static 'pics/transactions.png' %}"
            alt="Transactions Icon"
          />
          Transactions
        </a>
        <a href="{% url 'dashboard' %}">
          <img src="{% static 'pics/export.png' %}" alt="Export Icon" />
          Export
        </a>
      </nav>
    </div>

    <!-- Right panel -->
    <div class="main-content">
      <header class="user-info">
        <a href="{% url 'dashboard' %}">
          <img
            src="{% static 'pics/user.png' %}"
            alt="User Profile"
            class="profile-pic"
          />
        </a>
        <div class="user-details">
            <a href="{% url 'dashboard' %}">
            <p class="username">John Doe</p>
            </a>
          <a href="/logout" class="logout">Log Out</a>
        </div>
      </header>

      <section class="transactions-section">
        <h1 class="section-title">Transactions</h1>
        <p class="subtitle">Easily review and manage your financial history.</p>

        <!--Income Section-->
        {% include 'finance/transaction_table.html' with entries=income_page title="Income" icon_path='pics/income.png' %}
        <!--Expense Section-->
        {% include 'finance/transaction_table.html' with entries=expense_page title="Expenses" icon_path='pics/expense-list.png' %}
      </section>
    </div>
  </body>
</html>
